.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 100%;
	display: flex;
	align-items: center;
}
.container > .left {
	flex: 8;
	width: 100%;
	padding-right: 2rem;
}

.container .left > h1 {
	margin-bottom: 1rem;
}
.container .left > p {
	font-size: 1.2rem;
}
.container > .right {
	flex: 5;
	position: relative;
	display: flex;
	justify-content: end;
	background-color: #fff;
}

.school,
.college {
	position: absolute;
	width: 323px;
	height: 511px;
	text-shadow: 3px 2px 8px rgba(0, 0, 0, 0.25);
}

.school img,
.college img {
	transition: all 500ms ease;
	object-fit: cover;
	filter: grayscale(100%) saturate(0%) blur(1px);
}

.school {
	clip-path: url(#school);
}

.college {
	clip-path: url(#college);
}

.college:hover,
.school:hover {
	clip-path: url(#frame);
	z-index: 1;
}

.school:hover img,
.college:hover img {
	filter: grayscale(0%) saturate(100%) blur(0px);
	scale: 1.1;
}

.schoolHero {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.collegeHero {
	position: absolute;
	bottom: 1rem;
	right: 0;
	z-index: -1;
}

.school:hover img,
.college:hover img {
	filter: grayscale(0%) saturate(100%) blur(0px);
	scale: 1.1;
}
.school:hover .schoolHero,
.college:hover .collegeHero {
	z-index: 100;
}

@media (max-width: 1000px) {
	.container {
		display: block;
		padding-bottom: 5rem;
		text-align: center;
	}
	.container > .right {
		display: none;
	}
	.container > .left {
		padding-right: 0;
	}
	.container > .left > h1 {
		font-size: 3rem;
	}
}
