.container {
	margin-top: 2rem;
	padding-bottom: 4rem;
}
.container .backBtn {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	color: var(--primary-color);
}
.container > h1 {
	font-size: 2.75rem;
	display: block;
	margin-top: 1rem;
}

.container > p {
	font-size: 1.25rem;
	margin-top: 0.5rem;
}

.container > .tableWrapper {
	margin-top: 1rem;
	border-radius: 1rem;
	padding: calc(40px - 1rem) 40px;
	box-shadow: 12px 11px 63.7px 0 rgba(0, 0, 0, 0.08);
}

.container > .tableWrapper table {
	width: 100%;
	border-collapse: collapse;
	table-layout: auto;
	overflow-x: scroll;
}

.container > .tableWrapper table th,
.container > .tableWrapper table td {
	padding: 1rem 0.25rem;
	border-bottom: 1px solid var(--light-grey);
	text-align: start;
	white-space: normal;
	word-break: break-word;
	text-transform: capitalize;
}
.container > .tableWrapper table td > .capsule {
	background-color: var(--dark-grey);
	font-size: 0.75rem;
	color: var(--secondary-color);
	padding: 0.75rem 1.25rem;
	border-radius: 2rem;
	margin: 0.25rem;
	display: inline-block;
	white-space: normal;
}

.container > .tableWrapper table .builtWith {
	max-width: 400px;
}

.container .cardWrapperGrid {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 1rem;
}

.container .cardWrapperGrid .card {
	box-shadow: 0px -4px 20px 0 rgba(0, 0, 0, 0.08);
}
.container .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	height: min-content;
	box-shadow: 12px 11px 63.7px 0 rgba(0, 0, 0, 0.08);
	margin-bottom: 1rem;
	border-radius: 16px;
	overflow: hidden;
}

.container .card .content {
	width: 100%;
	padding: 1.25rem 1.5rem;
}
.container .card .content h2 {
	font-size: 1.5rem;
	font-weight: 600;
}

.container .card .content .capsule {
	background-color: var(--secondary-color);
	font-size: 0.75rem;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	padding: 0.5rem 0.75rem;
	border-radius: 2rem;
	margin: 0.25rem;
	display: inline-block;
	white-space: normal;
}

.container .card .content .capsule:nth-child(1) {
	margin-left: 0;
}

.container .card .content .btnContainer {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-top: 1rem;
}

.container .card .content .btnContainer a {
	margin: 0.5rem;
	font-size: 0.75rem;
	background-color: var(--dark-grey);
	color: var(--secondary-color);
	padding: 0.75rem 1rem;
	border-radius: 5px;
}

.container .filterSection {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 1rem 0;
	width: 100%;
	overflow: scroll;
}

.container .filterSection::-webkit-scrollbar {
	display: none;
}

.container .filterSection button {
	font-weight: 600;

	padding: 0.5rem 1.5rem 0.5rem 0.5rem;
	border-radius: 40px;
	width: max-content;
	text-transform: capitalize;
	margin: 0.5rem;
	display: flex;
	align-items: center;
	transition: all 0.5s;
}

.container .filterSection .filterBtnActive {
	background-color: var(--dark-grey);
	color: var(--secondary-color);
	border: 1px solid var(--primary-color);
}

.container .filterSection .fitlerBtnInactive {
	background-color: var(--secondary-grey);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.container .filterSection button .btnIcon {
	margin-right: 0.75rem;
	height: 32px;
	width: 32px;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

@media (max-width: 425px) {
	.container p {
		font-size: 1.1rem;
	}
	.container .filterSection button {
		font-size: 0.8rem;
		padding: 0.5rem 1rem 0.5rem 0.5rem;
	}
}

.controlSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.controlSection .selectView {
	display: flex;
	align-items: center;
}

.controlSection .selectView button {
	margin: 0 0.5rem;
	padding: 0.5rem;
	background: var(--secondary-color);
	border: 1px solid var(--dark-grey);
	border-radius: 50%;
	transition: all 0.5s;
}

.controlSection .selectView .viewBtnActive {
	background: var(--dark-grey);
}
