.skillContainer {
	margin-top: 2rem;
}
.skillContainer h2 {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	text-decoration: underline;
}
.skills {
	margin: 2rem 0;
}
.skillSet {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.skillItem {
	margin: 0.5rem 1rem 0.5rem 0;
	padding: 0.55rem 1.5rem;
	font-size: 14px;
	font-weight: 500;
	border: 2px solid transparent;
	border-radius: 80px;
}
@media (max-width: 425px) {
	.skillContainer h2 {
		font-size: 1.5rem;
	}
	.container .skillItem {
		margin: 0.5rem 0.5rem 0.5rem 0;
		padding: 0.25rem 1rem;
		border: 2px solid transparent;
		border-radius: 80px;
	}
}
